@model Hastane
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HastaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaneAdi)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.HastaneId)
            </td>
            <td>
                @Html.DisplayFor(model => model.HastaneAdi)
            </td>          
        </tr>
    </tbody>
</table>
