@model List<Hastane>
@{
    Layout = "_AdminLayout";
}


<table class="table">
    <thead>
        <tr>
            <td>Hastane No</td>
            <td>Hastane</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var hastane in Model)
        {
            <tr>
                <td>@hastane.HastaneId</td>
                <td><a href="@hastane.HastaneAdi"></a></td>
            </tr>
        }
    </tbody>
</table>
