@model List<Kullanici>

<table class="table">
    <thead>
        <tr>
            <th> Kullanıcı No</th>      
            <th> Kullanıcı Adı Soyadı</th>      
            <th> Kullanıcı E-Mail</th>      
        </tr>
    </thead>
    <tbody>
        @foreach (var kullanici in Model)
        {
            <tr>
                <td>@kullanici.KullaniciId</td>
                <td>@kullanici.KullaniciAdi  @kullanici.KullaniciSoyadi</td>
                <td>@kullanici.KullaniciEmail</td>
            </tr>
        }
    </tbody>
</table>