@model List<Polikinlik>

<table class="table">
    <thead>
        <tr>
            <th>Polikinlik No</th>
            <th>Polikinlik</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var polikinlik in Model)
        {
            <tr>
                <td>@polikinlik.PolikinlikId</td>
                <td>@polikinlik.PolikinlikAdi</td>
            </tr>
        }
    </tbody>
</table>