@model Kullanici
@{
    ViewData["Title"] = "Giriş Yap";
}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="mb-5">Giriş Yap</h3>
                    <form asp-action="GirisYapildi">
                        <div class=" text-start fw-bold">
                            <div class="form-group">
                                <label asp-for="KullaniciEmail" class="control-label"></label>
                                <input asp-for="KullaniciEmail" class="form-control" placeholder="E-Mail adresiniz"></>
                                <span asp-validation-for="KullaniciEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-4">
                                <label asp-for="KullaniciSifre" class="control-label"></label>
                                <input type="password" asp-for="KullaniciSifre" class="form-control" placeholder="Şifreniz"></>
                                <span asp-validation-for="KullaniciSifre" class="text-danger"></span>
                            </div>
                        </div>                                               
                            <input type="submit" value="Kimliği Doğrula" class="btn btn-primary mt-3" />
                    </form>
                    <div class="card-footer mt-3">
                        Kayıtlı değil misiniz? <a asp-action="Kayit">Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

