@model web_proje.Models.Doktor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoktorId" />
            <div class="form-group">
                <label asp-for="DoktorAdi" class="control-label"></label>
                <input asp-for="DoktorAdi" class="form-control" />
                <span asp-validation-for="DoktorAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoktorSoyadi" class="control-label"></label>
                <input asp-for="DoktorSoyadi" class="form-control" />
                <span asp-validation-for="DoktorSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnaBilimDali" class="control-label"></label>
                <input asp-for="AnaBilimDali" class="form-control" />
                <span asp-validation-for="AnaBilimDali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolikinlikId" class="control-label"></label>
                <select asp-for="PolikinlikId" class="form-control" asp-items="ViewBag.PolikinlikId"></select>
                <span asp-validation-for="PolikinlikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
